In [1]:
#Prediction with trained ann model
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
# load the trained model ,sclaer, pickle, onehot 

model = load_model('ann_model.h5')

# load encoder and scaler
with open('onehot_encoder_geo.pk1','rb') as f:
    label_encoder_geo = pickle.load(f)
with open('label_encoder_gender.pk1','rb') as f:
    label_encoder_gender = pickle.load(f)
with open('scaler.pk1', 'rb') as f:
    scaler = pickle.load(f)

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [3]:
# loading data

input_data= {
    'CreditScore':50000,
    'Geography':'France',
    'Gender':'Female',
    'Age':40,
    'Tenure':4,
    'Balance':60000,
    'NumOfProducts':3,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [4]:
# onehot encoding 'Geography'

geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns =label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Mohammed Rayyaan\Desktop\GenerativeAI\DL\dlenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
# converted dictionary data into dataframe

inputdf = pd.DataFrame([input_data])
inputdf

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,50000,France,Female,40,4,60000,3,1,1,50000

In [6]:
inputdf['Gender']= label_encoder_gender.transform(inputdf['Gender'])

inputdf

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,50000,France,0,40,4,60000,3,1,1,50000

In [7]:
# concatination of onehot encoded 
input_df=pd.concat([inputdf.drop("Geography", axis=1), geo_encoded_df], axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,50000,0,40,4,60000,3,1,1,50000,1.0,0.0,0.0

In [8]:
#Scaling the input data
input_scaled = scaler.transform(input_df)
input_scaled

array([[ 5.12123928e+02, -1.09499335e+00,  1.04793593e-01,
        -3.48369103e-01, -2.57811188e-01,  2.53355998e+00,
         6.49202671e-01,  9.74816989e-01, -8.76832208e-01,
         1.00150113e+00, -5.79467227e-01, -5.76388018e-01]])

In [9]:
#predicting the churn

prediction = model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 150ms/step

array([[0.]], dtype=float32)

In [10]:
# probaility of the prediction
prediction_prob= prediction[0][0]
prediction_prob

np.float32(0.0)

In [11]:
if prediction_prob>0.5:
    print("The customer is likely to churn.")
else:
    print("The customer is not likely to churn")

The customer is not likely to churn